<div class="container-header">
    <div class="top-header">
        <div class="content-container">
            <span>องค์การบริหารส่วนจังหวัด สุพรรณบุรี : สำหรับเจ้าหน้าที่</span>
        </div>
    </div>
    <div class="frame-container">
        <div class="left-control">
            <div class="image-logo">
                <img src="assets/images/pngs/logo.png" alt="">
            </div>
            <div class="header-title">
                <span>หน้าหลัก</span>
                <span>ระบบจองรถ</span>
            </div>
        </div>
        <div class="right-control">
            <i class="ci-header-cart"></i>
            <div class="logo-profile">
                <span>จท</span>
            </div>
            <div class="profile-name">
                <span>เจ้าหน้าที่ระบบงาน</span>
                <i class="ci-header-down"></i>
            </div>
        </div>
    </div>
</div>