<app-header></app-header>
<div style="display: flex; justify-content: center; margin: 20px 0px;">
    <div style="max-width: 1100px; width: 100%; display: flex; align-items: center; padding: 0px 10px; justify-content: space-between;">
        <div style="display: flex; align-items: center;">
            <i class="ci-cart-book" style="margin-right: 20px;"></i>
            <span style="overflow-wrap: anywhere;">เลขการจอง : 000000000101202328000001</span>
        </div>
        <div><span style="color: red; overflow-wrap: anywhere;">CartNo : #12541201200</span></div>
    </div>
</div>
<!-- <p-breadcrumb [model]="breadCrumbMenus" ></p-breadcrumb> -->
<div style="display: flex; height: 50px; justify-content: center; margin-top: 10px; background: #FAFAFA;">
    <div style="max-width: 1100px; width: 100%; display: flex; align-items: center; margin-left: 30px;">
        <i class="ci-header-home"></i>
        <i class="ci-header-right"></i>
        <span>รายการจองรถ</span>
        <i class="ci-header-right"></i>
        <span>รายละเอียดการจอง</span>
    </div>
<!-- main-content -->
<app-footer></app-footer>